.images-container {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.image-track {
  display: flex;
  gap: 10px;
  animation: moveImages 15s linear infinite;
  width: max-content;
}

@keyframes moveImages {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}

.header-image {
  width: 80px;
  height: auto;
  object-fit: contain;
  flex-shrink: 0;
}
