<div class="comandas">
  <app-header></app-header>
  <!-- Pedidos -->
  <div class="table-container">
    <h2>Comandas</h2>
    <table>
      <thead>
      <tr>
        <th>Producto</th>
        <th>Entregar</th>
        <th>Hora de Solicitud</th>
        <th>Hora de Entrega</th>
        <th>Diferencia</th>
        <th>Bloquear</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let order of orders">
        <td>{{ order.food }}</td>
        <td>
          <button (click)="markAsDelivered(order)" [disabled]="order.completed">
            {{ order.completed ? 'Entregado' : 'Entregar' }}
          </button>
        </td>
        <td>{{ order.orderDate | date: 'shortTime' }}</td>
        <td>{{ order.completedAt ? (order.completedAt | date: 'shortTime') : 'Pendiente' }}</td>
        <td>{{ getTimeDifference(order) }}</td>
        <td>
          <input type="checkbox" [checked]="order.locked" (change)="toggleLocked(order)" />
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <!-- Menú -->
  <div class="menu-list">
    <h2>Menú</h2>
    <table>
      <thead>
      <tr>
        <th>Comida</th>
        <th>Disponibilidad</th>
        <th>Acción</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of menuItems">
        <td>{{ item.name }}</td>
        <td>{{ item.available ? 'Disponible' : 'No disponible' }}</td>
        <td>
          <button
            (click)="toggleMenuItemAvailability(item)"
            [ngStyle]="{'background-color': item.available ? 'green' : 'red', 'color': 'white'}">
            {{ item.available ? 'Marcar No Disponible' : 'Marcar Disponible' }}
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
